[submodule "Haku/vendor/spdlog"]
	path = Haku/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Haku/vendor/GLFW"]
	path = Haku/vendor/GLFW
	url = https://github.com/elijahgrimaldi/glfw
[submodule "Haku/vendor/imgui"]
	path = Haku/vendor/imgui
	url = https://github.com/elijahgrimaldi/imgui
